.avathar2 {
  width: 8px;
  height: 80px;
}
.last {
  display: flex;
  justify-content: flex-end;
}

h3 {
  color: #0d8836;
  text-align: left;
  margin-top: auto;
}

.duo {
  color: red;
}

.formregistration {
  margin-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}

.registrationinner {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 75px;
}

.registration {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 400px;
}
